<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.0" package="com.companyname.geofencessample">
	<uses-sdk android:minSdkVersion="24" android:targetSdkVersion="30" />
	<application android:label="GeofencesSample.Android">
		<meta-data android:name="com.google.android.geo.API_KEY" android:value="AIzaSyBUl1NwKkq2cz2gpcFO_gy0u7OQit5snhU" />
		<meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version" />
		<uses-library android:name="org.apache.http.legacy" android:required="false" />
	</application>
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
</manifest>